{% extends "email_extras/email_base.html" %}
{% load i18n %}

{% block main %}
    {% blocktrans %}Dear {{ reviewer }},{% endblocktrans %}<br />
    {% if email_context %}{{ email_context|linebreaks }}<br />{% endif %}
    <hr style="border:1px solid #ececec"/>
    {% if document_name %}
        {% blocktrans %}{{ uploader }} has uploaded a new version of {{ document_name }} and assigned its approval to you. You can find the new version here:{% endblocktrans %}
    {% else %}
        {% blocktrans %}{{ uploader }} has uploaded new documents and assigned you as the approver. You can find the new documents here:{% endblocktrans %}
    {% endif %}
    {% for version_url in version_urls %}
        <p><a class="meg-email-btn-orange" href="{{ version_url }}" style="display: block; padding: 5px 8px; text-align:center; background-color: #FF7A59; border-radius:4px; color: #ffffff; text-decoration: none;">{% trans 'View document' %}</a></p>
    {% endfor %}
{% endblock %}
